/* custom.css */

@font-face {
    font-family: 'droid_serif';
    src: url('../fonts/DroidSerif-Regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'droid_serif';
    src: url('../fonts/DroidSerif-Italic-webfont.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'droid_serif';
    src: url('../fonts/DroidSerif-Bold-webfont.woff') format('woff');
    font-weight: bold;
}

body {
    font-size: 19px;
    font-family: droid_serif,serif;
    text-align: left;
    background-color: #ffffff;
}

.navbar, .navbar-brand {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

.date-and-tags {
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
    font-size: 80%;
}

code {
    font-size: 80%;
    color: black;
    background-color: #f3f3f3;
}

kbd {
    padding: 0.1em 0.6em;
    border: 1px solid #CCC;
    font-size: 70%;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #F7F7F7;
    color: #333;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 2px #FFF inset;
    border-radius: 3px;
    display: inline-block;
    margin: 0px 0.1em;
    text-shadow: 0px 1px 0px #FFF;
    line-height: 1.4;
    white-space: nowrap;
}

a, a:hover, a:visited {
    color: #a57e74;
}

.pagination > .active a {
    background-color: #a57e74;
    border-color: #a57e74;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the */
/* line numbers column's rows not lining up with the code rows. Prevent */
/* wrapping. */
pre {
    white-space: pre;
    width: inherit;
}

.footnotes {
    font-size: smaller;
    margin-top: 2em;
}

#left-sidebar, #right-sidebar {
    font-size: 80%;
}

#page-footer {
    font-size: 70%;
}

blockquote p {
    font-size: 100%;
    color: #666;
    margin-bottom: 13px;
}

h1 {
    font-size: 130%;
    font-weight: bold;
    color: #666;
}

h2 {
    font-size: 120%;
    font-weight: bold;
    color: #666;
}

h3 {
    font-size: 110%;
    font-weight: bold;
    color: #666;
}

h4 {
    font-size: 100%;
    font-style: italic;
    color: #666;
}

article {
    padding-bottom: 18px;
    border-bottom: 2px dashed #ccc;
}

.read-more {
    font-style: italic;
}

.figure {
    padding: 1em;
}

.caption {
    color: #666;
    font-style: italic;
    font-size: smaller;
}

.sourcetable {
    margin-top: 1em;
    margin-bottom: 1em;
}
